{% extends 'base.html.twig' %}

{% block title %}Edit TypePaiement{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row top-actions">
            <div class="col-8 top-header">
                <h4>Editer Type Paiement</h4>
            </div>

        </div>

        {{ include('type_paiement/_form.html.twig', {'button_label': 'Editer'}) }}

         <a class="btn btn-danger" href="{{ path('type_paiement_index') }}"><i class="fas fa-chevron-circle-left"></i></a>


    </div>
{% endblock %}
