{% extends 'base.html.twig' %}

{% block title %}Editer Utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid dashboard-div">
        <br>
        <div class="row top-actions">
            <div class="col-8 top-header">
                <h4>Editer client</h4>
            </div>

        </div>
        <br>
        {{ include('utilisateur/_form.html.twig', {'button_label': 'Editer'}) }}

        <a class="btn btn-danger" href="{{ path('utilisateur_index') }}"><i class="fas fa-chevron-circle-left"></i></a>

        {# {{ include('utilisateur/_delete_form.html.twig') }} #}
    </div>

{% endblock %}
