

{% extends 'base.html.twig' %}

{% block title %}New Facture{% endblock %}

{% block body %}
    <div class="container-fluid dashboard-div">
        <h1>Créer une Facture</h1>

        {{ include('facture/_form.html.twig') }}
        <br>
        <a  class="btn btn-danger" href="{{ path('facture_index') }}"><i class="fas fa-chevron-circle-left"></i></a>
    </div>
{% endblock %}
